.pokemon {
  background-color: #f5f5f5;
}

.pokeballButton {
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  background: none;
  padding: 50px 50px 0 50px;
  transition: transform 0.3s ease;
}
.pokeballButton:hover {
  transform: scale(1.1);
}

.pokeballImg {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.pokemonDetailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.pokemonInfo {
  background-color: white;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 40vh;
  min-width: 30vw;
}

.pokemonTitle {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 8px;
}

.pokemonNumber {
  font-size: 20px;
  color: #666;
  margin-bottom: 16px;
}

.pokemonImageContainer {
  margin-bottom: 10px;
}

.pokemonInfoImg {
  width: 80%;
}

.pokemonStat {
  font-size: 20px;
  margin-bottom: 8px;
}
